@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Saira:wght@700&display=swap');

html{
    background-color: rgb(138, 138, 138);
    color: black;
    font-family: 'jesefin Sans', sans-serif;
    font-size: 16px;
    overflow-y: auto;
}

.home{
    background-color:rgb(18, 39, 114) ;
    color: black;
}
span{
    margin-left:0px;
    font-size: 30px;
    animation:colorc alternate infinite 2s;
}
#Head{
    background-color: black;
    color: blue;
    height: 15vh;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

@keyframes colorc {
    from{
        color: blue;
    }to{
        color: white;
    }
    
}
#navbar {
    padding-top: 20px;
    color: black;
}
#navbar ul li{
    text-decoration: none;
    display: inline-block;
}
#navbar ul li a{
    color: black;
    text-decoration: none;
    background-color: rgb(81, 80, 82);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    transition: 1s ;
}
#navbar ul li a:hover{
 padding: 20px;
 color: white;
 background-color: black;
}
#content{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 80vh;   
}
#img{
    border-radius: 40px;
    width: 45%;
    height: 55vh;
    position: relative;
    margin-left: 50%;
    background-color: rgb(89, 89, 89);
   background-image: url(/imagenes/man-1283576_1920.jpg);
   background-size: 100%;
}

 #btn a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 15px;
    margin-left: 50px;
    font-size: 25px;
    height: 5vh;
    border-radius: 20px;
    transition: 0.5s;
}
#btn a:hover{
    background-color: black;
    color: white;
}
