@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Saira:wght@700&display=swap');

html{
    background-color: rgb(138, 138, 138);
    color: black;
    font-family: 'jesefin Sans', sans-serif;
    font-size: 16px;
    overflow-y: auto;
}

.home{
    background-color:rgb(18, 39, 114) ;
    color: black;
}
#Head{
    background-color: black;
    color: blue;
    height: 15vh;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
#navbar {
    padding-top: 20px;
    color: black;
}
#navbar ul li{
    text-decoration: none;
    display: inline-block;
}
#navbar ul li a{
    color: black;
    text-decoration: none;
    background-color: rgb(81, 80, 82);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    transition: 1s ;
}
#navbar ul li a:hover{
 padding: 20px;
 color: white;
 background-color: black;
}
#content{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 80vh;   
}
#img{
    background-color: gray;
    width: 40%;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    margin-left: 800px;
    
}
